// Color
$white: #ffffff;
$black: #000000;
$blue: #6696e2;
$blackGrey: #212121;
$brown: #a37169;
$darkGrey: #333333;
$green: #41d395;
$grey: #86878b;
$lblack: #1c1c1c;
$lightGrey: #d8d8d8;
$orange: #e27866;

// Shadow
$box-shadow: 0 10px 10px #00000029;

//Tab background
$tabBackground: linear-gradient(270deg, rgba(101, 149, 226, 0.4),rgba(226, 120, 101, 0.4));